<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" package="com.yonka.ordersextractor" android:installLocation="preferExternal" android:exported="true" android:versionName="2.4">
	<uses-sdk android:minSdkVersion="31" android:targetSdkVersion="31" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<application android:exported="true" android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme" android:name="android.app.Application" android:debuggable="true" android:extractNativeLibs="true">
		<receiver android:label="Widget Button Sync" android:name="crc64a88009b9048b9d68.ExtractWidget" android:exported="true">
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/my_widget_provider" />
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.yonka.ordersextractor.ACTION_WIDGET_SYNC" />
			</intent-filter>
		</receiver>
		<activity android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:noHistory="true" android:name="crc642624ed6414c9e07d.SplashActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:theme="@style/AppTheme" android:name="crc642624ed6414c9e07d.MainActivity" />
		<provider android:name="mono.MonoRuntimeProvider" android:exported="false" android:initOrder="1999999999" android:authorities="com.yonka.ordersextractor.mono.MonoRuntimeProvider.__mono_init__" />
	</application>
</manifest>